APP_PORT=3030
APP_BASE_URL=http://localhost:3030
DATA_DIR=./data
SITE_PROFILE_PATH=./config/custom-profile.json
SELLER_PURCHASED_ORDERS_URL=https://sellercenter.falabella.com/order/invoice#/purchased-order-list
RUN_MODE=manual
AUTO_CONTINUE_STEP_2=false
CHECK_INTERVAL_MINUTES=60
HEADFUL=true
SLOW_MO_MS=250
SELLER_USERNAME=REEMPLAZAR_USUARIO_FALABELLA
SELLER_PASSWORD=REEMPLAZAR_PASSWORD_FALABELLA
SUNAT_USERNAME=REEMPLAZAR_USUARIO_SUNAT
SUNAT_PASSWORD=REEMPLAZAR_PASSWORD_SUNAT
